{{ $content_35_lun_0 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/35/content_0.html" }}
{{ $content_35_lun_1 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/35/content_1.html" }}
{{ $content_35_lun_2 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/35/content_2.html" }}
{{ $content_35_lun_3 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/35/content_3.html" }}
{{ $content_35_lun_4 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/35/content_4.html" }}
{{ $content_35_din_0 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/35/content_6.html" }}
{{ $content_35_din_1 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/35/content_7.html" }}
{{ $content_35_din_2 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/35/content_8.html" }}
{{ $content_35_din_3 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/35/content_9.html" }}
{{ $content_35_din_4 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/35/content_10.html" }}
{{ $content_35_din_5 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/35/content_12.html" }}
{{ $content_35_din_6 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/35/content_13.html" }}
{{ $content_35_din_7 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/35/content_14.html" }}
{{ $content_35_din_8 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/35/content_15.html" }}
{{ $content_35_din_9 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/35/content_16.html" }}

{{ $content_36_lun_0 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/36/content_0.html" }}
{{ $content_36_lun_1 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/36/content_1.html" }}
{{ $content_36_lun_2 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/36/content_2.html" }}
{{ $content_36_lun_3 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/36/content_3.html" }}
{{ $content_36_lun_4 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/36/content_4.html" }}
{{ $content_36_din_0 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/36/content_6.html" }}
{{ $content_36_din_1 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/36/content_7.html" }}
{{ $content_36_din_2 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/36/content_8.html" }}
{{ $content_36_din_3 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/36/content_9.html" }}
{{ $content_36_din_4 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/36/content_10.html" }}

{{ $content_37_lun_0 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/37/content_0.html" }}
{{ $content_37_lun_1 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/37/content_1.html" }}
{{ $content_37_lun_2 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/37/content_2.html" }}
{{ $content_37_lun_3 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/37/content_3.html" }}
{{ $content_37_lun_4 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/37/content_4.html" }}
{{ $content_37_din_0 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/37/content_6.html" }}
{{ $content_37_din_1 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/37/content_7.html" }}
{{ $content_37_din_2 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/37/content_8.html" }}
{{ $content_37_din_3 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/37/content_9.html" }}
{{ $content_37_din_4 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/37/content_10.html" }}

{{ $content_46_lun_0 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/46/content_0.html" }}
{{ $content_46_lun_1 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/46/content_1.html" }}
{{ $content_46_lun_2 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/46/content_2.html" }}
{{ $content_46_lun_3 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/46/content_3.html" }}
{{ $content_46_lun_4 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/46/content_4.html" }}
{{ $content_46_din_0 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/46/content_6.html" }}
{{ $content_46_din_1 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/46/content_7.html" }}
{{ $content_46_din_2 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/46/content_8.html" }}
{{ $content_46_din_3 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/46/content_9.html" }}
{{ $content_46_din_4 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/46/content_10.html" }}

{{ $content_85_lun_0 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/85/content_0.html" }}
{{ $content_85_lun_1 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/85/content_1.html" }}
{{ $content_85_lun_2 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/85/content_2.html" }}
{{ $content_85_lun_3 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/85/content_3.html" }}
{{ $content_85_lun_4 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/85/content_4.html" }}
{{ $content_85_din_0 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/85/content_6.html" }}
{{ $content_85_din_1 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/85/content_7.html" }}
{{ $content_85_din_2 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/85/content_8.html" }}
{{ $content_85_din_3 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/85/content_9.html" }}
{{ $content_85_din_4 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/85/content_10.html" }}

{{ $content_86_lun_0 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/86/content_0.html" }}
{{ $content_86_lun_1 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/86/content_1.html" }}
{{ $content_86_lun_2 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/86/content_2.html" }}
{{ $content_86_lun_3 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/86/content_3.html" }}
{{ $content_86_lun_4 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/86/content_4.html" }}
{{ $content_86_din_0 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/86/content_6.html" }}
{{ $content_86_din_1 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/86/content_7.html" }}
{{ $content_86_din_2 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/86/content_8.html" }}
{{ $content_86_din_3 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/86/content_9.html" }}
{{ $content_86_din_4 := readFile "/home/jsh/Homepage/layouts/shortcodes/menus/86/content_10.html" }}

<!DOCTYPE html>
<html>
  
  <body>
    <div style="display: flex;">
      <div class="square">
        <p class="shop_title">공학관 교직원</p>
        <table>
          <tr>
            <td class="menu_time"> </td>
            <td class="col85 col2">월</td>
            <td class="col85 col3">화</td>
            <td class="col85 col4">수</td>
            <td class="col85 col5">목</td>
            <td class="col85 col6">금</td>
          </tr>
          <tr>
            <td class="menu_time">중식</td>
            <td class="col85 col2">{{ $content_85_lun_0 | safeHTML }}</td>
            <td class="col85 col3">{{ $content_85_lun_1 | safeHTML }}</td>
            <td class="col85 col4">{{ $content_85_lun_2 | safeHTML }}</td>
            <td class="col85 col5">{{ $content_85_lun_3 | safeHTML }}</td>
            <td class="col85 col6">{{ $content_85_lun_4 | safeHTML }}</td>
          </tr>
          <tr>
            <td class="menu_time">석식</td>
            <td class="col85 col2">{{ $content_85_din_0 | safeHTML }}</td>
            <td class="col85 col3">{{ $content_85_din_1 | safeHTML }}</td>
            <td class="col85 col4">{{ $content_85_din_2 | safeHTML }}</td>
            <td class="col85 col5">{{ $content_85_din_3 | safeHTML }}</td>
            <td class="col85 col6">{{ $content_85_din_4 | safeHTML }}</td>
          </tr>
        </table>
      </div>
      <div class="square">
        <p class="shop_title">공학관 학식</p>
        <table>
          <tr>
            <td class="menu_time"> </td>
            <td class="col86 col2">월</td>
            <td class="col86 col3">화</td>
            <td class="col86 col4">수</td>
            <td class="col86 col5">목</td>
            <td class="col86 col6">금</td>
          </tr>
          <tr>
            <td class="menu_time">중식</td>
            <td class="col86 col2">{{ $content_86_lun_0 | safeHTML }}</td>
            <td class="col86 col3">{{ $content_86_lun_1 | safeHTML }}</td>
            <td class="col86 col4">{{ $content_86_lun_2 | safeHTML }}</td>
            <td class="col86 col5">{{ $content_86_lun_3 | safeHTML }}</td>
            <td class="col86 col6">{{ $content_86_lun_4 | safeHTML }}</td>
          </tr>
          <tr>
            <td class="menu_time">석식</td>
            <td class="col86 col2">{{ $content_86_din_0 | safeHTML }}</td>
            <td class="col86 col3">{{ $content_86_din_1 | safeHTML }}</td>
            <td class="col86 col4">{{ $content_86_din_2 | safeHTML }}</td>
            <td class="col86 col5">{{ $content_86_din_3 | safeHTML }}</td>
            <td class="col86 col6">{{ $content_86_din_4 | safeHTML }}</td>
          </tr>
        </table>
      </div>
      <div class="square">
        <p class="shop_title">복지관 교직원</p>
        <table>
          <tr>
            <td class="menu_time"> </td>
            <td class="col36 col2">월</td>
            <td class="col36 col3">화</td>
            <td class="col36 col4">수</td>
            <td class="col36 col5">목</td>
            <td class="col36 col6">금</td>
          </tr>
          <tr>
            <td class="menu_time">중식</td>
            <td class="col36 col2">{{ $content_36_lun_0 | safeHTML }}</td>
            <td class="col36 col3">{{ $content_36_lun_1 | safeHTML }}</td>
            <td class="col36 col4">{{ $content_36_lun_2 | safeHTML }}</td>
            <td class="col36 col5">{{ $content_36_lun_3 | safeHTML }}</td>
            <td class="col36 col6">{{ $content_36_lun_4 | safeHTML }}</td>
          </tr>
          <tr>
            <td class="menu_time">석식</td>
            <td class="col36 col2">{{ $content_36_din_0 | safeHTML }}</td>
            <td class="col36 col3">{{ $content_36_din_1 | safeHTML }}</td>
            <td class="col36 col4">{{ $content_36_din_2 | safeHTML }}</td>
            <td class="col36 col5">{{ $content_36_din_3 | safeHTML }}</td>
            <td class="col36 col6">{{ $content_36_din_4 | safeHTML }}</td>
          </tr>
        </table>
      </div>
      <div class="square">
        <p class="shop_title">카페테리아 첨성</p>
        <table>
          <tr>
            <td class="menu_time"> </td>
            <td class="col37 col2">월</td>
            <td class="col37 col3">화</td>
            <td class="col37 col4">수</td>
            <td class="col37 col5">목</td>
            <td class="col37 col6">금</td>
          </tr>
          <tr>
            <td class="menu_time">중식</td>
            <td class="col37 col2">{{ $content_37_lun_0 | safeHTML }}</td>
            <td class="col37 col3">{{ $content_37_lun_1 | safeHTML }}</td>
            <td class="col37 col4">{{ $content_37_lun_2 | safeHTML }}</td>
            <td class="col37 col5">{{ $content_37_lun_3 | safeHTML }}</td>
            <td class="col37 col6">{{ $content_37_lun_4 | safeHTML }}</td>
          </tr>
          <tr>
            <td class="menu_time">석식</td>
            <td class="col37 col2">{{ $content_37_din_0 | safeHTML }}</td>
            <td class="col37 col3">{{ $content_37_din_1 | safeHTML }}</td>
            <td class="col37 col4">{{ $content_37_din_2 | safeHTML }}</td>
            <td class="col37 col5">{{ $content_37_din_3 | safeHTML }}</td>
            <td class="col37 col6">{{ $content_37_din_4 | safeHTML }}</td>
          </tr>
        </table>
      </div>
      <div class="square">
        <p class="shop_title">GP 감꽃푸드코트</p>
        <table>
          <tr>
            <td class="menu_time"> </td>
            <td class="col46 col2">월</td>
            <td class="col46 col3">화</td>
            <td class="col46 col4">수</td>
            <td class="col46 col5">목</td>
            <td class="col46 col6">금</td>
          </tr>
          <tr>
            <td class="menu_time">중식</td>
            <td class="col46 col2">{{ $content_46_lun_0 | safeHTML }}</td>
            <td class="col46 col3">{{ $content_46_lun_1 | safeHTML }}</td>
            <td class="col46 col4">{{ $content_46_lun_2 | safeHTML }}</td>
            <td class="col46 col5">{{ $content_46_lun_3 | safeHTML }}</td>
            <td class="col46 col6">{{ $content_46_lun_4 | safeHTML }}</td>
          </tr>
          <tr>
            <td class="menu_time">석식</td>
            <td class="col46 col2">{{ $content_46_din_0 | safeHTML }}</td>
            <td class="col46 col3">{{ $content_46_din_1 | safeHTML }}</td>
            <td class="col46 col4">{{ $content_46_din_2 | safeHTML }}</td>
            <td class="col46 col5">{{ $content_46_din_3 | safeHTML }}</td>
            <td class="col46 col6">{{ $content_46_din_4 | safeHTML }}</td>
          </tr>
        </table>
      </div>
      <div class="square">
        <p class="shop_title">정보센터식당</p>
        <table>
          <tr>
            <td class="menu_time"> </td>
            <td class="col35 col2">월</td>
            <td class="col35 col3">화</td>
            <td class="col35 col4">수</td>
            <td class="col35 col5">목</td>
            <td class="col35 col6">금</td>
          </tr>
          <tr>
            <td class="menu_time">중식</td>
            <td class="col35 col2">{{ $content_35_lun_0 | safeHTML }}</td>
            <td class="col35 col3">{{ $content_35_lun_1 | safeHTML }}</td>
            <td class="col35 col4">{{ $content_35_lun_2 | safeHTML }}</td>
            <td class="col35 col5">{{ $content_35_lun_3 | safeHTML }}</td>
            <td class="col35 col6">{{ $content_35_lun_4 | safeHTML }}</td>
          </tr>
          <tr>
            <td class="menu_time">석식</td>
            <td class="col35 col2">{{ $content_35_din_0 | safeHTML }}</td>
            <td class="col35 col3">{{ $content_35_din_1 | safeHTML }}</td>
            <td class="col35 col4">{{ $content_35_din_2 | safeHTML }}</td>
            <td class="col35 col5">{{ $content_35_din_3 | safeHTML }}</td>
            <td class="col35 col6">{{ $content_35_din_4 | safeHTML }}</td>
          </tr>
          <tr>
            <td class="menu_time"></td>
            <td class="col35 col2">{{ $content_35_din_5 | safeHTML }}</td>
            <td class="col35 col3">{{ $content_35_din_6 | safeHTML }}</td>
            <td class="col35 col4">{{ $content_35_din_7 | safeHTML }}</td>
            <td class="col35 col5">{{ $content_35_din_8 | safeHTML }}</td>
            <td class="col35 col6">{{ $content_35_din_9 | safeHTML }}</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
  

<script>
    window.onload = function () {
      var currentDate = new Date();
      var currentDay = currentDate.getDay(); // 0: 일요일, 1: 월요일, ..., 6: 토요일

      // 요일에 해당하는 열(col)을 표시하는 함수
      function displayDayColumns(day) {
        var tables = document.querySelectorAll('table'); // 모든 테이블 선택

        for (var t = 0; t < tables.length; t++) {
          var rows = tables[t].rows; // 각 테이블의 모든 행 선택

          for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].cells; // 각 행의 셀 선택

            for (var j = 0; j < cells.length; j++) {
              if (j === day) { // 요일에 해당하는 열만 표시
                cells[j].style.display = 'table-cell';
              } else {
                cells[j].style.display = 'none'; // 나머지 열 숨김
              }
            }
          }
        }
      }

      function displayAllColumns() {
        var tables = document.querySelectorAll('table'); // 모든 테이블 선택

        for (var t = 0; t < tables.length; t++) {
          var rows = tables[t].rows; // 각 테이블의 모든 행 선택

          for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].cells; // 각 행의 셀 선택

            for (var j = 0; j < cells.length; j++) {
              cells[j].style.display = 'table-cell';
            }
          }
        }
      }

      // 초기 페이지 로드 시 현재 요일에 해당하는 열만 표시
      displayDayColumns(currentDay);

      var squares = document.querySelectorAll('.square');

      squares.forEach(function (square) {
  let isMouseOver = false;

  square.addEventListener('click', function () {
    isMouseOver = !isMouseOver;

    if (isMouseOver) {
      // 마우스를 클릭한 square 안에 있는 테이블 표시, 나머지 square는 숨김
      tables = square.querySelectorAll('table');
      tables.forEach(function (table) {
        table.style.display = 'table';
      });

      squares.forEach(function (s) {
        if (s !== square) {
          s.style.display = 'none';
        } else {
          s.style.minWidth = '100px'; // 마우스를 클릭했을 때 최소 너비 조정
        }
      });
      displayAllColumns();
    } else {
      // 마우스를 클릭한 square에서 마우스를 치웠을 때 모든 square 표시하고 현재 요일에 해당하는 열만 표시
      tables = document.querySelectorAll('table');
      tables.forEach(function (table) {
        table.style.display = 'flex';
      });

      squares.forEach(function (s) {
        s.style.display = 'inline-block';
        s.style.minWidth = ''; // 마우스 클릭을 해제했을 때 최소 너비 초기화
      });
      displayDayColumns(currentDay);
    }
  });
});
    };
  </script>

<style>
	.shop_title {
		font-weight: bold;
		text-align: center;
	}
	.square {
		width: auto;
		min-width: fit-content;
		height: fit-content;
		margin: 10px;
		border: 2px solid gray;
		border-radius: 20px;
    text-align: -webkit-center;
	}

	.button_m.bt_me01 {
		color: white;
		font-weight: bold;
		border-radius: 10px;
		background: linear-gradient(to right bottom, rgba(144, 164, 255, 0.966), rgba(0, 0, 175, 0.589))
	}

	td {
		font-weight: bold;
		align-items: center;
		vertical-align: top;
		text-align: center;
	}

	.markdown li {
		list-style-type: none;
		margin-block-start: 15px;
		border-bottom: 1px solid #ccc;
		border-radius: 20px;
	}

	p {
		margin-block-start: 0;
		margin-block-end: 0;
	}

	ul.menu_im {
    padding-left: 0px;
	}

	ul.menu_im li {
		color: #595959;
		font-weight: bold;
	}

	ul.menu_im p {
		color: #858585;
		font-weight: normal;
	}

	ul.menu_im_ju li {
		color: #595959;
		font-weight: bold;
	}
</style>